.container-pre-treino{
    padding: 0;
    border: none;
    width: 100%;
    display: block;
    background-color: #ebebe3;
}

.banner-pre-treino{
    width: 100%;
}

.banner-pre-treino img{
    width: 100%;
}
.container-produtos-pre-treino{
    margin-top: 2em;
}