.carousel{
    padding: 5rem;
    color: black;
    width: 100%;
	background: #ebebe3; 
}

.box{
    height: 300px;
    display: flex;
}

.box h3{
    text-align: center;
}


.slick-next{
    right: -40px !important;
}

.aminoacidos{
    background: url('https://i.ibb.co/4sYH8HF/aminoacidos.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}

.carboidratos{
    background: url('https://i.ibb.co/VYttrz6/carboidratos.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}

.termogenico{
    background: url('https://i.ibb.co/gwnQRVK/termogenico.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}

.veganos{
    background: url('https://i.ibb.co/JQ9vjwC/veganos.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain; 
}

.vegetarianos{
    background: url('https://i.ibb.co/M89PLrG/vegetarianos.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}

.vitaminas{
    background: url('https://i.ibb.co/54kf9g0/vitaminas.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}
