.carousel{
    padding: 5rem;
    color: black;
    width: 100%;
	background: #ebebe3; 
}

.box{
    height: 300px;
    display: flex;
}

.box h3{
    text-align: center;
}


.slick-next{
    right: -40px !important;
}

.aminoacidos{
    background: url('./aminoacidos.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}

.carboidratos{
    background: url('./carboidratos.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}

.termogenico{
    background: url('./termogenico.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}

.veganos{
    background: url('./veganos.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain; 
}

.vegetarianos{
    background: url('./vegetarianos.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}

.vitaminas{
    background: url('./vitaminas.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% contain;
}
