
.container-tudo{
    width: 100%;
    background-color: #3a8ff000;
    padding: 0;
    border: none;
}


.img-1{
    background: url('./Carousel.webp') no-repeat center;
    width: 100%;
    min-height: 50vh;
    background-size: 100%;
}

.img-2{
    background: url('./carousel2.jpg') no-repeat center;
    width: 100%;
    min-height: 50vh;
    background-size: 100%;
}

.img-3{
    background: url('./Carousel3.jpg') no-repeat center;
    width: 100%;
    min-height: 50vh;
    background-size: 100% ;
}

.carousel.carousel-slider {
    padding: 0;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.fixa{
    border: none;
    padding: 0 !important;
    width: 100%;
    display: flex;
}