.card {
  align-items: center;
  border-radius: 10px;
  border: #4a4a48; ;
  box-shadow: 0px 0px 10px #4a4a48; ;
  display: flex;
  justify-content: center;
  min-height: 200px;
  width: 300px;
  height: 300px;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;

}

.cardGrid {
  background: #ebebe3; 
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 300px);
  place-content: center;
  align-content: center;
  justify-content: center;

}

.card img{
  width: 100px;
  height: 100px;
  transition: .5s;
}

.texto{
  display: flex;
  text-align: center;
  font-size: 8px;
}

.texto h2{
  padding-bottom: 3em;
}

.cards{
  justify-items: center;
}

.textoPreco{
  font-size: 10px;
}

.textoPreco h2{
  padding-top: 2em;
}

.card img:hover{
  width:150px;
  height:150px;
  transition: .5s;
  filter: brightness( 70% );
}