
@media (max-width: 800px) {
    .container-header-frase h1{
        font-size: 14px !important;
    }
    .container-header-frase{
        width: 100%;
        height: 6vh !important;
    }

    /*Menu suspenso*/
    .menu{
        display: block !important;
        position: absolute;
        top: 8rem;
        left: 0;
        background: #2b2b28; 
        text-align: center;
        width: 100%;
        height: 0 !important;
        z-index: 1;
        visibility: hidden !important;
        overflow-y: hidden !important;
        transition: 0.5s !important;
    }

    .menu a{
        padding: 1rem 0 ;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0,0,0,0.16);
        border-radius: 0;
        color: white;
    }
    .label-menu {
        display: flex !important;
        align-items: center !important;
        gap: 0.5rem !important;
        color: rgb(0, 0, 0) !important;
        padding-block: 1rem !important;
        cursor: pointer !important;
    }

    .hamburguer{
        border-top: 0.125rem solid !important;
        width: 1.25rem !important;
    }

    .hamburguer::before,
    .hamburguer::after{
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked ~ .menu{
        visibility: visible !important;
        overflow-y: auto !important;
        height: calc(100vh - 20em) !important;
    }

    .checkbox:checked ~ .label-menu .hamburguer{
        border-top-color: transparent !important;
    }

    .checkbox:checked ~ .label-menu .hamburguer::before{
        transform: rotate(135deg) !important;
    }

    .checkbox:checked ~ .label-menu .hamburguer::after{
        transform: rotate(-135deg);
        top: -0.4375rem !important;
    }
    .acount{
        display:contents !important;
    }
}

.nav-list.active{
    transform: translateX(0);
}

.container-header{
    width: 100%;
    height: 20vh;
    display: block;
	background: #ebebe3; 
}

.container-header-frase{
    width: 100%;
    height: 4.5vh;
    background-color: black;
    text-align: center;
}

.container-header-frase h1{
    font-size: 20px;
    padding: 5px;
    color: white;
}

.acount{
    display: none;
}

   /*Menu suspenso*/

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
	background: #2b2b28; 
    padding: 1rem;
    height: 4.7rem;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.menu{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
}

.menu a:hover{
    background-color: #4a4a48;
    opacity: 70%;
}


.label-menu, .checkbox{
    display: none;
}